body{
    background-color: lightgray;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 250px;
    height: 350px;
    border-radius: 25px;
    
}

.close{
    align-self: flex-end;
    width: 20px;
    margin-top: 10px;
    margin-right: 10px;
}

.profile{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

h1{
    font-weight: bolder;
}

p{
    color: gray;
}

a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(92, 92, 92);
    text-decoration: none;
    color: white;
    height: 40px;
    width: 150px;
    text-align: center;
    border-radius: 25px;
}