body{
    background-color: lightgray;
}

.card{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: white;
width: 300px;
height: 350px;
}

h1{
    width: 250px;
    font-size: 20px;
    font-style: italic;
    justify-self: center;
    align-self: center;
}

footer{
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-top: 20%;
    
}

p{
    color: gray;
}

a{ 
    display: flex;
    height: 8px;
    width: 8px;
    background-color: gray;
    border-radius: 50%;
}

.active{
    background-color: black;
}
