body{
    background-color: gray;
}


.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 250px;
    height: 400px;
    border-radius: 25px;
    color: red;
    font-size: 35px;
}

.top{
  margin-bottom: auto;
  margin-right: auto;
  margin-left: 15px;
  margin-top: 15px;
}

aside{
    display: flex;
    flex-direction: column;
}

.bottom{
    margin-top: auto;
    margin-left: auto;
    margin-right: 15px;
    margin-bottom: 15px;
    transform: rotate(180deg) scaleX(-1);
}

span{
    color: black;
}